<h1>Contacts</h1>
    <p>There are <span><%=@size %></span> contacts.</p>
<ul>
  <% @contacts.each do |contact| %>
    <li>
      Full Name: <a href="/contacts/<%=contact.id%>"><%= contact.full_name %></a>
      <!-- Email: <%= contact.email %> -->
      <!-- Notes: <%= contact.note %> -->
      <br><a href="#">Edit</a> | <a href="#">Delete</a>
    </li>
  <% end %>
</ul>
